@charset "UTF-8";

body {
    /* font-family: Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/* ---------------------------------------------------------
Navbar
---------------------------------------------------------*/
#nav-bar {
    position: sticky; /*stick to its position*/
    top: 0;
    z-index: 10;
    font-weight: 500;
}

.navbar-brand {
    color: #ffffff !important;
    margin: 0 10px;
    font-size: 1.1em;
}

.navbar-nav li {
    margin: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover, .navbar-brand:hover {
    color: #011e49  !important; /* use important if you are overwriting the base style (bootstrap here)*/
}

.navbar {
    /*background-color: #ffffff !important;*/
    background-color: #4990fc !important;
    /*background-color: #4916ff !important; 6d44ff*/
    border-bottom: 0px;
    text-transform: uppercase;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: #ffffff !important;
    font-size: 1em;
}

/* ---------------------------------------------------------
Anchor Links
---------------------------------------------------------*/
a {
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(241, 11, 11);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

a:focus,
a:hover {
    text-decoration: none !important;
}

a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    text-decoration: none !important;
}

/* ---------------------------------------------------------
Single.html Note
---------------------------------------------------------*/
.note-title {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.note-meta i {
    text-align: center;
    width: 1.6rem;
    margin-left: 0;
    margin-right: 0.5rem;
}

.note-meta .date .posted-on {
    margin-left: 0;
    margin-right: 1.5rem;
}

.container .post-content {
    text-align: justify !important;
}

.container .post-content h2,
.container .post-content h3,
.container .post-content h4,
.container .post-content h5,
.container .post-content h6
{
    margin-top: 1em;
}

/* ---------------------------------------------------------
Code
---------------------------------------------------------*/
pre code {
    color: #747474;
}

pre {
    padding: .5em;
    display: block;
    margin-bottom: .5em;
    font-size: .85em;
}

.highlight pre {
    border: 1px solid #ccc;
    line-height: 1.42857143;
    padding: 1em;
}

/* ---------------------------------------------------------
Homepage list
---------------------------------------------------------*/
.topic_box {
    border: solid 1.25px #b7b7b7;
    margin-top: 30px;
    margin-bottom: 20px;
}

.topic_header {
    padding: 10px 20px 10px 20px;
    margin-bottom: -4px;
    border-bottom: solid 1.25px #b7b7b7;
    font-size: 1.25em;
    font-weight: 400;
    background-color: #e6e6e6;
}

.sub_topic_header {
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 0px 20px;
    border-bottom: solid 1.25px #e6e6e6;
}

.items {
    margin: 5px 5px 5px 20px;
    padding: 5px 10px 5px 10px;
}

.items ul {
    padding-left: 20px;
    margin-bottom: 0;
}

.items li {
    font-size: 1.1em;
    padding: 5px 0px 5px 0px;
}

@media (min-width: 480px) {
    .items {
        -webkit-columns: 384px 2;
        -moz-columns: 384px 2;
        columns: 384px 2;
    }
}

/* ---------------------------------------------------------
footer list
---------------------------------------------------------*/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    font-size: 15px;
}

/* ---------------------------------------------------------
Tables
---------------------------------------------------------*/

table{
    margin: 1em;
}
  
table,tr,th,td{
    font-family: sans-serif;
    border:1px solid black;
    border-collapse:collapse;
    padding: 5px;
    font-size: .95em;
}

td, th{
    text-align:left;
    vertical-align:middle;
    word-break:break-all;
}

th{
    font-weight:bold;
}


/* ---------------------------------------------------------
About
---------------------------------------------------------*/
.centered .about{
    text-align:center
}

.centered .about h1{
    margin-top:2rem;
    margin-bottom:.5rem
}
    
.centered .about h2{
    margin-top:1rem;
    margin-bottom:.5rem;
    font-size:2.4rem
}

@media only screen and (max-width:768px){
    .centered .about h2
    {
        font-size:2rem
    }
}

.centered .about ul{
    list-style:none;
    margin:1rem 0 1rem;
    padding:0
}
    
.centered .about ul li{
    display:inline-block;
    position:relative
}
    
.centered .about ul li a{
    margin-left:1rem;
    margin-right:1rem;
}

@media only screen and (max-width:768px){
    .centered .about ul li a{
        font-size:1rem
    }
}

.centered .about ul li a i{
    font-size:3.2rem
}

.avatar{
    margin-top: 30px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


img{
    max-width: 100%;
    height: auto;
    width: 100%\9;  /*ie8 */
    display:block;
      margin-left: auto;
      margin-right: auto;
}


/* ---------------------------------------------------------
error 404
---------------------------------------------------------*/
.centered .error{
    text-align:center
}

.centered .error h1{
    margin-top:2rem;
    margin-bottom:.5rem;
    font-size:4.6rem
}

@media only screen and (max-width:768px){
    .centered .error h1{font-size:3.2rem}
}

.centered .error h2{
    margin-top:2rem;
    margin-bottom:3.2rem;
    font-size:3.2rem
}

@media only screen and (max-width:768px){
    .centered .error h2{
        font-size:2.8rem
    }
}

