/*emacs theme*/
/* Background */ .highlight { background-color: #f8f8f8 }
/* Error */ .highlight .err {  }
/* LineTableTD */ .highlight .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .highlight .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .highlight .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .highlight .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .highlight .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .highlight .k { color: #aa22ff; font-weight: bold }
/* KeywordConstant */ .highlight .kc { color: #aa22ff; font-weight: bold }
/* KeywordDeclaration */ .highlight .kd { color: #aa22ff; font-weight: bold }
/* KeywordNamespace */ .highlight .kn { color: #aa22ff; font-weight: bold }
/* KeywordPseudo */ .highlight .kp { color: #aa22ff font-weight: bold}
/* KeywordReserved */ .highlight .kr { color: #aa22ff; font-weight: bold }
/* KeywordType */ .highlight .kt { color: #00bb00; font-weight: bold }
/* NameAttribute */ .highlight .na { color: #bb4444 }
/* NameBuiltin */ .highlight .nb { color: #aa22ff }
/* NameClass */ .highlight .nc { color: #0000ff; font-weight: bold }
/* NameConstant */ .highlight .no { color: #880000 }
/* NameDecorator */ .highlight .nd { color: #aa22ff }
/* NameEntity */ .highlight .ni { color: #999999; font-weight: bold }
/* NameException */ .highlight .ne { color: #d2413a; font-weight: bold }
/* NameFunction */ .highlight .nf { color: #00a000; font-weight: bold }
/* NameLabel */ .highlight .nl { color: #a0a000 }
/* NameNamespace */ .highlight .nn { color: #0000ff; font-weight: bold }
/* NameTag */ .highlight .nt { color: #008000; font-weight: bold }
/* NameVariable */ .highlight .nv { color: #b8860b }
/* LiteralString */ .highlight .s { color: #bb4444 }
/* LiteralStringAffix */ .highlight .sa { color: #bb4444 }
/* LiteralStringBacktick */ .highlight .sb { color: #bb4444 }
/* LiteralStringChar */ .highlight .sc { color: #bb4444 }
/* LiteralStringDelimiter */ .highlight .dl { color: #bb4444 }
/* LiteralStringDoc */ .highlight .sd { color: #bb4444; font-style: italic }
/* LiteralStringDouble */ .highlight .s2 { color: #bb4444 }
/* LiteralStringEscape */ .highlight .se { color: #bb6622; font-weight: bold }
/* LiteralStringHeredoc */ .highlight .sh { color: #bb4444 }
/* LiteralStringInterpol */ .highlight .si { color: #bb6688; font-weight: bold }
/* LiteralStringOther */ .highlight .sx { color: #008000 }
/* LiteralStringRegex */ .highlight .sr { color: #bb6688 }
/* LiteralStringSingle */ .highlight .s1 { color: #bb4444 }
/* LiteralStringSymbol */ .highlight .ss { color: #b8860b }
/* LiteralNumber */ .highlight .m { color: #666666 }
/* LiteralNumberBin */ .highlight .mb { color: #666666 }
/* LiteralNumberFloat */ .highlight .mf { color: #666666 }
/* LiteralNumberHex */ .highlight .mh { color: #666666 }
/* LiteralNumberInteger */ .highlight .mi { color: #666666 }
/* LiteralNumberIntegerLong */ .highlight .il { color: #666666 }
/* LiteralNumberOct */ .highlight .mo { color: #666666 }
/* Operator */ .highlight .o { color: #666666; font-weight: bold }
/* OperatorWord */ .highlight .ow { color: #aa22ff; font-weight: bold }
/* Comment */ .highlight .c { color: #008800; font-style: italic }
/* CommentHashbang */ .highlight .ch { color: #008800; font-style: italic }
/* CommentMultiline */ .highlight .cm { color: #008800; font-style: italic }
/* CommentSingle */ .highlight .c1 { color: #008800; font-style: italic }
/* CommentSpecial */ .highlight .cs { color: #008800; font-weight: bold }
/* CommentPreproc */ .highlight .cp { color: #008800; font-weight: bold }
/* CommentPreprocFile */ .highlight .cpf { color: #008800 }
/* GenericDeleted */ .highlight .gd { color: #a00000 }
/* GenericEmph */ .highlight .ge { font-style: italic }
/* GenericError */ .highlight .gr { color: #ff0000 }
/* GenericHeading */ .highlight .gh { color: #000080; font-weight: bold }
/* GenericInserted */ .highlight .gi { color: #00a000 }
/* GenericOutput */ .highlight .go { color: #888888 }
/* GenericPrompt */ .highlight .gp { color: #000080; font-weight: bold }
/* GenericStrong */ .highlight .gs { font-weight: bold }
/* GenericSubheading */ .highlight .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ .highlight .gt { color: #0044dd }
/* GenericUnderline */ .highlight .gl { text-decoration: underline }
/* TextWhitespace */ .highlight .w { color: #bbbbbb }
